* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  margin-top: 15px;
}

.nav-link-edit {
  color: rgb(79, 141, 79);
}
.container {
  width: 100%;
  margin-bottom: 20px;
}

#main-section {
  margin-top: 50px;
}

h1 {
  background-color: rgb(79, 141, 79);
  color: white;
  display: inline;
  padding: 10px;
}

#profile-image {
  margin: 10px;
  width: 200px;
  height: auto;
}

hr {
  border: 3px solid rgb(175, 206, 175);
}

.footer-edits {
  color: beige;
}

.submit-button {
  background-color: rgb(151, 204, 151);
  border: 1px solid rgb(151, 204, 151);
}

.card-width {
  width: 300px;
}

.header-wrap {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .header-wrap {
    width: 600px;
  }
  #h1,
  #nav {
    width: 80%;
    margin: 5px;
    float: left;
  }
}

@media screen and (max-width: 980) {
  .header-wrap {
    width: 600px;
  }
  #h1,
  #nav {
    width: 100%;
    margin: 5px;
    float: left;
  }

  #h1 {
    background-color: white;
    color: rgb(79, 141, 79);
  }
}
